* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  padding: 20px 25px;
  color: #005fac;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* shared code */
#banner {
  width: 100%;
  max-width: 1600px;
  background-image: url(./images/banner3.png);
  background-repeat: no-repeat;
}
.banner-container {
  padding: 216px 230px 262px 876px;
}
#banner .banner-container h1 {
  font-size: 65px;
  font-weight: bold;
  color: #ffffff;
  text-align: end;
  margin-bottom: 24px;
}
#banner .banner-container p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 32px;
}
/* previous */
#previous {
  margin-top: 130px;
}
#previous .previous-conntainer {
  width: 67%;
  max-width: 1172px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#previous .previous-conntainer .my-image {
  max-width: 570px;
  margin-right: 87px;
}
.previous-conntainer .my-failures-list h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.previous-conntainer .my-failures-list p {
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 15px;
}
.previous-conntainer ul li {
  font-size: 16px;
  line-height: 26px;
}
/* plans */
#plans-container {
  margin-top: 130px;
}
.plans-container {
  width: 67%;
  max-width: 1140px;
  margin: 0 auto;
}
.plans-container h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}
.plans-container .plans-card {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 130px;
}
.plans-card .card h3 {
  font-size: 30px;
  font-weight: bold;
}
.plans-card .card p {
  font-size: 25px;
  color: #737272;
}
.add {
  padding: 59px 617px 147px 64px;
  background-image: url(./images/gradient1.png), url(./images/watch.png);
  background-repeat: no-repeat, no-repeat;
}

.add h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
/* footer */
#footer{
  background-color: black;
  color: white;
  padding: 130px 0;
}
.footer-container{
  width: 67%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-container .social{
  max-width: 485px;
}
 .social h3{
  font-size: 45px;
  font-weight: bold;
  color: #F8F8F8;
  margin-bottom: 16px;
 }
.social p{
  font-size: 16px;
  margin-bottom: 34px;
}
.icon img{
  padding-right: 15px;
}
.email h4{
  font-size: 25px;
  font-weight: 700px;
}
.email input{
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 21px 158px 21px 21px;
  font-size: 18px;
}